[submodule "lab/hw0"]
	path = lab/hw0
	url = https://github.com/dlsyscourse/hw0.git
[submodule "lab/hw1"]
	path = lab/hw1
	url = https://github.com/dlsyscourse/hw1.git
[submodule "notes/lecture8"]
	path = notes/lecture8
	url = https://github.com/dlsyscourse/lecture8.git
[submodule "lab/hw2"]
	path = lab/hw2
	url = https://github.com/dlsyscourse/hw2.git
[submodule "notes/lecture13"]
	path = notes/lecture13
	url = https://github.com/dlsyscourse/lecture14.git
[submodule "lab/hw3"]
	path = lab/hw3
	url = https://github.com/dlsyscourse/hw3.git
[submodule "lab/hw4"]
	path = lab/hw4
	url = https://github.com/dlsyscourse/hw4.git
